# 0812 목 : Data Cleansing

In [2]:
# 1) 정제할 파일 불러오기

import pandas as pd
import numpy as np
df = pd.read_csv('apt.csv', encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'apt.csv'

In [2]:
# 2) 거래 취소된 행 지우기

indexNames = df[ (df['no'] >= 20150101)
                & (df['no'] <= 202101212) ].index
df2 = df.drop(indexNames)

In [3]:
df2

,add,add02,apt,size,year,date,price,floor,when,add03,no
0,서울특별시 강남구 개포동,655-2,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN
2,서울특별시 강남구 개포동,141,개포주공 1단지,50.64,201501,5,"83,000",1,1982,개포로 310,NaN
3,서울특별시 강남구 개포동,141,개포주공 1단지,42.55,201501,7,"70,000",1,1982,개포로 310,NaN
4,서울특별시 강남구 개포동,141,개포주공 1단지,50.38,201501,7,"83,000",5,1982,개포로 310,NaN
...,...,...,...,...,...,...,...,...,...,...,...
603053,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,24,"66,000",2,1997,동일로 752,NaN
603054,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,25,"62,000",3,1997,동일로 752,NaN
603055,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,26,"64,500",5,1997,동일로 752,NaN
603056,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,26,"66,000",1,1997,동일로 752,NaN
603057,서울특별시 중랑구 중화동,450,한신1차,84.69,202106,30,"85,000",8,1997,동일로 752,NaN

In [4]:
# 3) 불필요한 컬럼 제거

df3 = df2.drop(columns=['add02','apt','floor','date','add03','when','no'])

In [5]:
df3

                  add   size    year   price
0       서울특별시 강남구 개포동  77.75  201501  60,000
1       서울특별시 강남구 개포동  79.97  201501  73,000
2       서울특별시 강남구 개포동  50.64  201501  83,000
3       서울특별시 강남구 개포동  42.55  201501  70,000
4       서울특별시 강남구 개포동  50.38  201501  83,000
...               ...    ...     ...     ...
603053  서울특별시 중랑구 중화동  59.76  202106  66,000
603054  서울특별시 중랑구 중화동  50.37  202106  62,000
603055  서울특별시 중랑구 중화동  50.37  202106  64,500
603056  서울특별시 중랑구 중화동  59.76  202106  66,000
603057  서울특별시 중랑구 중화동  84.69  202106  85,000

[599349 rows x 4 columns]

In [8]:
# 4) 중요한 컬럼 추출 (아파트 규모 분류)

def big_mid_small(x):
    if x>85:
        return 'big'
    elif x>60 and x<=85:
        return 'mid'
    else:
        return 'small'
    
    return 
df3['size2'] = df3['size'].apply(big_mid_small)

In [9]:
df3

                  add   size    year   price  size2
0       서울특별시 강남구 개포동  77.75  201501  60,000    mid
1       서울특별시 강남구 개포동  79.97  201501  73,000    mid
2       서울특별시 강남구 개포동  50.64  201501  83,000  small
3       서울특별시 강남구 개포동  42.55  201501  70,000  small
4       서울특별시 강남구 개포동  50.38  201501  83,000  small
...               ...    ...     ...     ...    ...
603053  서울특별시 중랑구 중화동  59.76  202106  66,000  small
603054  서울특별시 중랑구 중화동  50.37  202106  62,000  small
603055  서울특별시 중랑구 중화동  50.37  202106  64,500  small
603056  서울특별시 중랑구 중화동  59.76  202106  66,000  small
603057  서울특별시 중랑구 중화동  84.69  202106  85,000    mid

[599349 rows x 5 columns]

In [10]:
# 5) 주소 ‘xx구’만 추출

def add01_add(x):
    return str(x)[6:9]
df3['add'] = df3['add'].apply(add01_add)

In [11]:
df3

        add   size    year   price  size2
0       강남구  77.75  201501  60,000    mid
1       강남구  79.97  201501  73,000    mid
2       강남구  50.64  201501  83,000  small
3       강남구  42.55  201501  70,000  small
4       강남구  50.38  201501  83,000  small
...     ...    ...     ...     ...    ...
603053  중랑구  59.76  202106  66,000  small
603054  중랑구  50.37  202106  62,000  small
603055  중랑구  50.37  202106  64,500  small
603056  중랑구  59.76  202106  66,000  small
603057  중랑구  84.69  202106  85,000    mid

[599349 rows x 5 columns]

In [12]:
# 6) 클렌징 된 데이터 저장

df3.to_csv('Apt_0812.csv', encoding='utf-8-sig')
df3.to_csv('Apt_kr_0812.csv', encoding='euc-kr')

---------

# 0813 금

### Tableau 픽셀맵을 위한 임의의 좌표값 생성

왼쪽이 row 컬럼 / 오른쪽이 space 

강북구 2 / 6
도봉구 2 / 7

은평구 3 / 5
종로구 3 / 6
성북구 3 / 7
노원구 3 / 8

서대문구 4 / 5
중구       4 / 6
동대문구 4 / 7
중랑구    4 / 8

강서구 5 / 4
마포구 5 / 5
용산구 5 / 6
성동구 5 / 7
광진구 5 / 8

구로구 6 / 4
양천구 6 / 5
영등포구 6 / 6
동작구 6 / 7
강동구 6 / 8

금천구 7 / 5
관악구 7 / 6
서초구 7 / 7
강남구 7 / 8
송파구 7 / 9

### row 열 생성 후 값 부여하기

In [1]:
def add_row(x):
    if x in ['강북구', '도봉구']:
        return '2'
    elif x in ['은평구','종로구','성북구','노원구']:
        return '3'
    elif x in ['서대문구','중구','동대문구','중랑구']:
        return '4'
    elif x in ['강구','마포구','용산구','성동구','광진구']:
        return '5'
    elif x in ['구로구','양천구','영등포구','동작구','강동구']:
        return '6'    
    else:
        return '7'
    
    return 
df3['row'] = df3['add'].apply(add_row)

NameError: name 'df3' is not defined

### space 열 생성 후 값 부여하기

In [ ]:

def add_space(x):
    if x in ['강서구', '구로구']:
        return '4'
    elif x in ['은평구','서대문구','마포구','양천구','금천구']:
        return '5'
    elif x in ['강북구','종로구','중구','용산구','영등포구','관악구']:
        return '6'
    elif x in ['도봉구','성북구','동재문구','성동구','동작구','서초구']:
        return '7'
    elif x in ['노원구','중랑구','광진구','강동구','강남구']:
        return '8'    
    else:
        return '9'
    
    return 
df3['space'] = df3['add'].apply(add_space)

In [ ]:
# csv로 저장~
df3.to_csv('Tableau_0813.csv', encoding='utf-8-sig')